<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="details">
<div >
    <div class="cart-block">

        <h2 class="order-title" th:text="'Замовлення ' + ${order.id}"></h2>

        <table class="cart-table">
            <tbody>

            <tr th:each="orderBook : ${orderedBooks}">
                <td>
                    <img alt="Зображення книги"
                         class="book-cover" th:src="@{/images/{coverImage}(coverImage=${orderBook.book.coverImage})}">
                    <div class="book-info">
                        <a class="book-title-link" th:href="@{/book/{id}(id=${orderBook.book.getId()})}"
                           th:text="${orderBook.book.getTitle()}"></a>
                        <p class="book-author" th:text="${orderBook.book.author.name}"></p>
                    </div>
                </td>


                <td class="price-section">

                    <div class="current-price">
                        <span class="price-value" th:text="${orderBook.pricePerBook}">200 грн</span>
                    </div>

                </td>
                <td class="multiply-sign">×</td>
                <td>
                    <p class="price-value" th:text="${orderBook.quantity}"
                    ></p>
                </td>
            </tr>
            </tbody>
        </table>


        <p><strong>Сума:</strong> <span th:text="${order.totalAmount}"></span> грн</p>
        <p><strong>Одержувач:</strong> <span th:text="${order.lastName + ' ' + order.firstName}"></span></p>
        <p><strong>Користувач:</strong> <span th:text="${order.user.email}"></span></p>
        <p><strong>Телефон:</strong> <span th:text="${order.phoneNumber}"></span></p>
        <p><strong>Місто:</strong> <span th:text="${order.city}"></span></p>
        <p><strong>Відділення:</strong> <span th:text="${order.postOfficeNumber}"></span></p>
        <p><strong>Створено:</strong>
            <span th:text="${#temporals.format(order.createdAt, 'dd.MM.yyyy HH:mm')}"></span>
        </p>
        <p><strong>Оновлено:</strong>
            <span th:text="${#temporals.format(order.updatedAt, 'dd.MM.yyyy HH:mm')}"></span>
        </p>

        <h3>Оновити замовлення</h3>
        <form id="orderForm" method="post" th:action="@{/admin/orders/{id}/update(id=${order.id})}">
            <div>
                <label for="trackingNumber">Номер накладної:</label>
                <input id="trackingNumber" name="trackingNumber" type="text"
                       th:value="${order.trackingNumber}"/>
            </div>

            <div>
                <label for="status">Статус замовлення:</label>
                <select id="status" name="status" required>
                    <option value="НОВЕ" th:selected="${order.status == 'НОВЕ'}">НОВЕ</option>
                    <option value="В ОБРОБЦІ" th:selected="${order.status == 'В ОБРОБЦІ'}">В ОБРОБЦІ</option>
                    <option value="ВІДПРАВЛЕНО" th:selected="${order.status == 'ВІДПРАВЛЕНО'}">ВІДПРАВЛЕНО</option>
                    <option value="ДОСТАВЛЕНО" th:selected="${order.status == 'ДОСТАВЛЕНО'}">ДОСТАВЛЕНО</option>
                    <option value="СКАСОВАНО" th:selected="${order.status == 'СКАСОВАНО'}">СКАСОВАНО</option>
                    <option value="ОТРИМАНО" th:selected="${order.status == 'ОТРИМАНО'}">ОТРИМАНО</option>
                </select>
            </div>

            <button class="btn" type="submit">Зберегти зміни</button>
        </form>


    </div>
</div>

</body>
</html>
