<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Книга</title>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>
<body th:fragment="details">
<div>
    <form class="book-form"
          enctype="multipart/form-data"
          method="post"
          th:action="@{${actionUrl}}"
          th:object="${book}">

        <input name="id" th:value="${book.id}" type="hidden"/>

        <!-- Верхній блок: обкладинка + основні поля -->
        <div class="form-top-row">
            <!-- Зображення та завантаження -->
            <div class="form-image-block">
                <div class="book-image"
                     id="imagePreview"
                     th:style="${book.coverImage != null} ? 'background-image:url(/images/' + ${book.coverImage} + ');' : ''">
                    <span th:if="${book.coverImage == null}">Обкладинка</span>
                </div>

                <input accept="image/*" id="coverImageFile" name="coverImageFile" type="file"/>

                <label for="coverImageFile">Обрати зображення</label>

            </div>

            <!-- Основна інформація -->
            <div class="form-main-info">
                <label>Назва:</label>
                <input name="title" required th:value="${book.title}" type="text"/>

                <label for="author-select">Автор:</label>
                <select class="select2" id="author-select" name="authorName" required>
                    <option disabled th:selected="${book.author == null}" value="">Оберіть автора</option>
                    <option th:each="author : ${authors}"
                            th:selected="${book.author != null and author.id == book.author.id}"
                            th:text="${author.name}"
                            th:value="${author.name}"></option>
                </select>

                <label for="genre-select">Жанр:</label>
                <select class="select2" id="genre-select" name="genreName" required>
                    <option disabled th:selected="${book.genre == null}" value="">Оберіть жанр</option>
                    <option th:each="genre : ${genres}"
                            th:selected="${book.genre != null and genre.name == book.genre.name}"
                            th:text="${genre.name}"
                            th:value="${genre.name}"></option>
                </select>

                <label for="publisher-select">Видавництво:</label>
                <select class="select2" id="publisher-select" name="publisherName" required>
                    <option disabled th:selected="${book.publisher == null}" value="">Оберіть видавництво</option>
                    <option th:each="publisher : ${publishers}"
                            th:selected="${book.publisher != null and publisher.name == book.publisher.name}"
                            th:text="${publisher.name}"
                            th:value="${publisher.name}"></option>
                </select>

                <label for="type-select">Тип обкладинки:</label>
                <select class="select" id="type-select" name="coverType" required th:value="${book.coverType}">
                    <option disabled th:selected="${book.coverType == null}" value="">Оберіть тип</option>
                    <option th:selected="${book.coverType == 'Тверда'}" value="Тверда">Тверда</option>
                    <option th:selected="${book.coverType == 'М''яка'}" value="М'яка">М’яка</option>
                    <option th:selected="${book.coverType == 'Суперобкладинка'}" value="Суперобкладинка">
                        Суперобкладинка
                    </option>
                </select>

                <div>
                    <label>ISBN:</label>
                    <input name="isbn" required th:value="${book.isbn}" type="text"/>
                </div>
            </div>
        </div>

        <div class="form-grid">
            <div>
                <label>Ціна:</label>
                <input id="price" min="1" name="price" required step="1" th:value="${book.price}" type="number"/>
            </div>
            <div>
                <label>Кількість сторінок:</label>
                <input min="0" name="pages" required th:value="${book.pages}" type="number"/>
            </div>
            <div>
                <label>Знижка (%):</label>
                <input id="discount" max="100" min="0" name="discount" step="1" th:value="${book.discount}"
                       type="number"/>
            </div>
            <div>
                <label>Кількість на складі:</label>
                <input min="0" name="stockQuantity" required th:value="${book.stockQuantity}" type="number"/>
            </div>

            <div>
                <label>Актуальна ціна:</label>
                <input class="disabled" disabled id="actualPrice" name="actualPrice"
                       th:value="${book.price != null ? book.actualPrice : ''}" type="number"/>
            </div>

            <div>
                <label>Рік публікації:</label>
                <input type="number"
                       name="publicationYear"
                       min="2000"
                       th:max="${T(java.time.Year).now().getValue()}"
                       required
                       th:value="${book.publicationYear}" />
            </div>


        </div>
        <textarea class="comment-input" maxlength="980" name="description" placeholder="Анотація" required
                  th:text="${book.description}"></textarea>

        <button class="btn" type="submit">Зберегти зміни</button>
    </form>


</div>

</body>
</html>
