<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Стилі для адмінки -->
<head th:fragment="styles">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap"
          rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    <link rel="icon" sizes="32x32" th:href="@{/favicon/favicon-32x32.png}" type="image/png">
    <link rel="icon" sizes="16x16" th:href="@{/favicon/favicon-16x16.png}" type="image/png">
    <link rel="manifest" th:href="@{/favicon/site.webmanifest}">
</head>
<body>
<!-- Хедер для адмінів -->
<header th:fragment="body">
    <div class="header-container">
        <a class="logo" href="/">BOOKSTORE</a>

        <div class="nav-links">
            <a class="nav-link" th:href="@{/admin/books}">
                <i class="fas fa-book admin"></i>
                Книги
            </a>

            <a class="nav-link" th:href="@{/admin/reviews}">
                <i class="fas fa-comments admin"></i>
                Відгуки
            </a>

            <a class="nav-link" th:href="@{/admin/orders}">
                <i class="fas fa-box admin"></i>
                Замовлення
            </a>
            <a class="nav-link" th:href="@{/logout}">
                <i class="fas fa-sign-out-alt admin"></i>
                Вийти
            </a>
        </div>
    </div>
</header>
</body>
</html>
