<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="profile-nav">
    <a th:href="@{/profile}" th:classappend="${activePage == 'profile'} ? ' active' : ''">Особисті дані</a>
    <a th:href="@{/reviews}" th:classappend="${activePage == 'reviews'} ? ' active' : ''">Мої відгуки</a>
    <a th:href="@{/orders}" th:classappend="${activePage == 'orders'} ? ' active' : ''">Мої замовлення</a>
    <a th:href="@{/logout}" class="logout"> Вийти<i class="fas fa-sign-out-alt"></i></a>


</div>
</body>
</html>
