<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="profile-nav">
    <a th:classappend="${activePage == 'profile'} ? ' active' : ''" th:href="@{/profile}">Особисті дані</a>
    <a th:classappend="${activePage == 'reviews'} ? ' active' : ''" th:href="@{/reviews}">Мої відгуки</a>
    <a th:classappend="${activePage == 'orders'} ? ' active' : ''" th:href="@{/orders}">Мої замовлення</a>
    <a sec:authorize="hasRole('ADMIN')" th:classappend="${activePage == 'admins'} ? ' active' : ''"
       th:href="@{/admin/books}">Адмін </a>
    <a class="logout" th:href="@{/logout}"> Вийти<i class="fas fa-sign-out-alt"></i></a>


</div>
</body>
</html>
