<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="details">
    <div class="cart-block">


        <h2 class="order-title" th:text="'Замовлення ' + ${order.id}"></h2>

        <table class="cart-table">
            <tbody>
            <tr th:each="orderBook : ${orderedBooks}">
                <td>
                    <img alt="Зображення книги"
                         class="book-cover" th:src="@{/images/{coverImage}(coverImage=${orderBook.book.coverImage})}">
                    <div class="book-info">
                        <a class="book-title-link" th:href="@{/book/{id}(id=${orderBook.book.getId()})}"
                           th:text="${orderBook.book.getTitle()}"></a>
                        <p class="book-author" th:text="${orderBook.book.author.name}"></p>
                    </div>
                </td>


                <td class="price-section">

                        <div class="current-price">
                            <span class="price-value" th:text="${orderBook.pricePerBook}">200 грн</span>
                        </div>

                </td>
                <td class="multiply-sign">×</td>
                <td>
                    <p class="price-value" th:text="${orderBook.quantity}"
                    ></p>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="total-container">
            <span>СУМА ЗАМОВЛЕННЯ:</span>
            <span class="total-amount" th:text="${order.totalAmount} + ' грн'">0 грн</span>
        </div>




    <p><strong>Одержувач:</strong> <span th:text="${order.lastName + ' ' + order.firstName}"></span></p>
    <p><strong>Телефон:</strong> <span th:text="${order.phoneNumber}"></span></p>
    <p><strong>Місто:</strong> <span th:text="${order.city}"></span></p>
    <p><strong>Відділення:</strong> <span th:text="${order.postOfficeNumber}"></span></p>
    <p><strong>Створено:</strong>
        <span th:text="${#temporals.format(order.createdAt, 'dd.MM.yyyy HH:mm')}"></span>
    </p>
    <p><strong>Оновлено:</strong>
        <span th:text="${#temporals.format(order.updatedAt, 'dd.MM.yyyy HH:mm')}"></span>
    </p>
        <p class="status" th:classappend="${order.status == 'СКАСОВАНО'} ? ' cancelled'">
            <span th:text="${order.status}"></span>
        </p>

    <div th:if="${order.status == 'НОВЕ'}">
        <form method="post" onsubmit="return confirm('Ви впевнені, що хочете скасувати це замовлення?');"
              th:action="@{/orders/{orderId}/cancel(orderId=${order.id})}">
            <button class="btn" type="submit">Скасувати замовлення</button>
        </form>
    </div>
</div>
</body>
</html>
