body {
    background-color: #A698AE;
    font-family: 'Roboto', sans-serif;
    color: #1c1c1c;
    margin: 0;
    padding: 0;
}

.container {
    padding: 0 80px;
    margin-bottom: 30px;
}

.page-title {
    font-size: 32px;
    font-weight: bold;
    margin:  30px 0 0 0;
    font-family: 'Sofia Sans', sans-serif;
    color: black;
}
.container-wrapper {
    padding: 0px 80px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    flex: 1;
}
/* Каталог книг */
.catalog {
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 колонок */
    gap: 30px;
    flex: 1;
    padding: 0;
}
.page-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000000;
    text-align: left;
    font-family: 'Sofia Sans', sans-serif;

}
.empty-state {
    text-align: center;
    color: #2a0238;
    margin-top: 40px;
    font-size: 18px;
}

.rating-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    gap: 1rem;
    padding-bottom: 15px;
    border-bottom: 2px solid var(--gray);
;
}

.rating-stars {
    color: var(--purple);
    font-size: 20px;
    letter-spacing: 0.06em;
}

.rating-text {
    font-size: 14px;
    margin: 0;
    font-weight: bold;
    font-family: 'Sofia Sans', sans-serif;
    color: var(--purple);

}
