body {
    background-color: var(--light-gray);
    font-family: 'Roboto', sans-serif;
    color: #1c1c1c;
    margin: 0;
    padding: 0;
}
.container {
    padding: 0 80px;
    margin-bottom: 30px;
}
/* Головний контейнер */
.book-wrapper {
    display: flex;
    gap: 2rem;

    align-items: flex-start;
    padding: 30px 0 ;
    border-bottom: 2px solid var(--gray);

}

.book-image-container {
    flex: 2;
    display: flex;
    flex-direction: row;
    background-color: var(--off-white);
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    gap: 1rem;
    align-items: center;
    margin-top: 20px;
}

.book-image {
    height: 400px;
    object-fit: cover;
}

.book-description p {
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
}

/* Права колонка: мета-інфо */
.book-meta {
    flex: 1.5;
    padding: 10px 0;
}

.book-title {
    font-size: 36px;
    margin: 10px 0;
    color: #000000;
    font-family: 'Sofia Sans', sans-serif;
    font-weight: bold;
}
.book-author {
    margin: 10px 0;
}
.book-author a {
    font-size: 26px;
    color: var(--gray);
    text-decoration: none;
    font-family: 'Sofia Sans', sans-serif;
    font-weight: bold;

}
.rating-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    gap: 1rem;
    padding-bottom: 15px;
     border-bottom: 2px solid var(--gray);
;
}

.rating-stars {
    color: var(--purple);
    font-size: 20px;
    letter-spacing: 0.06em;
}

.rating-text {
    font-size: 12px;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: 'Sofia Sans', sans-serif;
    color: var(--purple);

}


.book-info {
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 5px;
    column-gap: 10px;
    margin: 35px 0;
    color: #444;
}

.book-info dd {
    font-weight: bold;
    color: black;

    font-size: 16px;

}

.book-info dt {
    font-weight: normal;
    font-size: 16px;
    color: var(--gray);

}



.book-price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 20px;
    font-weight: bold;
    color: var(--gray);

    font-family: 'Sofia Sans', sans-serif;
}

.discount {
    align-items: center;
    display:flex ;
    gap: 5px
}
.original-price {
    text-decoration: line-through;
    font-size: 20px;
    color: #3c3c3c;
}

.discount-badge {
    background-color: var(--purple);
    color: white;
    padding: 2px 6px;
    border-radius: 10px;
    font-size: 11px;

    font-family: 'Sofia Sans', sans-serif;

}

.final-price {
    font-size: 36px;
    font-weight: bold;
    color: #1c1c1c;
}
.price-text {
    font-size: 24px;
    font-weight: bold;
    color: #1c1c1c;
}

.book-actions {
    display: flex;
    justify-content: right;
    gap: 15px;
    align-items: center;

}


.heart-button {

    top: 10px;
    right: 10px;background: none;
    border: none;
    cursor: pointer;
    font-size: 30px;
    color: var(--purple); /* Фіолетовий */
    transition: color 0.3s;
}

.heart-button:hover {
    color: var(--purple-hover);
}


.cart-button .btn-danger {
    background-color: var(--gray) !important;

}


.reviews-section {
    display: flex;
    margin: 30px 0;
    gap: 3%
}

.all-reviews {
    flex: 0 0 67%; /* займає рівно 75% */
    max-height: 500px;
    overflow-y: auto;
    padding-right: 1rem;
    scrollbar-width: thin;
    scrollbar-color: var(--light-purple) var(--light-gray);
}

.user-review {
    flex: 0 0 30%; /* займає рівно 25% */
}


.review-item {
    display: flex;
    gap: 1rem; /* відстань між лівою та правою частинами */
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.review-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
min-width: 200px;
    width: 200px; /* можна підлаштувати */
}
.review-info p{
    font-weight: bold;
    color: var(--gray);
    word-wrap: break-word;
    overflow-wrap: anywhere;
    white-space: normal;
    font-size: 14px;
    margin: 5px 0;
}



.review-date {
    font-size: 12px;
    color: var(--gray);
    margin-top: 4px;
}


.review-info {
    margin-top: 8px;
    text-align: left;
}
.review-rating {
    color: #370641; /* Золоті зірки */
    font-size: 20px;
    letter-spacing: 0.06em;


}
.user-stars {
    color: #370641; /* Золоті зірки */
    font-size: 25px;
    letter-spacing: 0.06em;


}
.review-user {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    min-width: 80%;
}

.review-text {
    padding: 20px;
    background-color: var(--light-purple);
    border-radius: 25px;
    margin-bottom: 20px;
    text-align: left;
    min-height: 150px;
    font-size: 16px;
    box-sizing: border-box;     /* щоб padding не зменшував ширину */


}
.review-text p, .comment {
    line-height: 1.5;
    color: #333;
    word-wrap: break-word;
    overflow-wrap: anywhere;
    white-space: normal;
}
.empty-review {
    color: #6f3b8d;
    font-size: 14px;
}
.empty-reviews{
    font-size: 18px;
    font-family: 'Sofia Sans', sans-serif;

}
.empty-review-user {
    color: var(--purple-hover);
    text-align: center;
    font-family: 'Sofia Sans', sans-serif;
}
.comment-input {
    display: block;
    width: 100%;

    resize: none;
    padding: 20px;              /* аналогічно .review-text */
    background-color: var(--off-white);
    border-radius: 25px;
    border: none;               /* приберемо стандартний бордер браузера */
    margin-bottom: 20px;
    font-size: 16px;
    min-height: 150px;          /* аналогічно .review-text */
    box-sizing: border-box;     /* щоб padding не зменшував ширину */
}

.comment-input:focus {
    outline: none;              /* приберемо стандартну рамку фокусу */
}

.review-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn {
    font-weight: 600;
    font-size: 16px; /* замість 1rem */
    border-radius: 15px;
    padding: 10px 20px; /* замість 0.5rem 1.2rem */
    background-color: var(--purple);
   text-align: center;
    align-items: center;
    gap: 8px; /* замість 0.5rem */
    cursor: pointer;
    font-family: 'Sofia Sans', sans-serif;
    color: white;
border: 1px solid black;
}


.stars {
    display: flex;
    flex-direction: row-reverse; /* зберігаємо для правильного порядку */
    justify-content: center;
}

.stars input[type="radio"] {
        /* display: none; */
        position: absolute;
        opacity: 0;
        width: 1px;
        height: 1px;
    }

.stars label i {
    font-size: 25px;
    color: #ccc;
    cursor: pointer;
    transition: color 0.2s;
    letter-spacing: 0.06em;

}

/* Підсвічування зірок при наведенні */
.stars label:hover i,
.stars label:hover ~ label i {
    color: var(--purple-hover);
}

/* Підсвічування вибраних зірок (радіокнопка checked + відповідний label) */
.stars input[type="radio"]:checked ~ label i,
.stars input[type="radio"]:checked + label i,
.stars input[type="radio"]:checked + label,
.stars input[type="radio"]:checked ~ label {
    color: var(--purple);

}

/* Уточнимо щоб підсвічувалися зірки зліва від вибраної */
.stars input[type="radio"]:checked + label i,
.stars input[type="radio"]:checked + label,
.stars input[type="radio"]:checked ~ label i {
    color: var(--purple);

}
h4{
    font-size: 14px;
text-align: right;
    font-family: 'Sofia Sans', sans-serif;
}