body.cart-container {
    background-color: #c2b1cb;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.cart-title {
    font-size: 32px;
    font-weight: bold;
    color: #000000;
    font-family: 'Sofia Sans', sans-serif;
    margin-left: 22%;
    margin-right: auto;
    width: fit-content;
}

.cart-table {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    table-layout: fixed;
    border-collapse: collapse;


}


.cart-table thead {
    display: none;
}

.cart-table th,
.cart-table td {
    padding: 12px;
    vertical-align: middle;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Ширини колонок */
.cart-table th:nth-child(1),
.cart-table td:nth-child(1) {
    width: 80%;
}

.cart-table th:nth-child(2),
.cart-table td:nth-child(2) {
    width: 12%;
}

.cart-table th:nth-child(3),
.cart-table td:nth-child(3) {
    width: 2%;
}

.cart-table th:nth-child(4),
.cart-table td:nth-child(4) {
    width: 8%;
}
.cart-table th:nth-child(5),
.cart-table td:nth-child(5) {
    width: 10%;
}
.cart-table tr {
    border-bottom: 2px solid #8b729b;
}

.cart-table td:first-child {
    display: flex;
    align-items: center;
    gap: 12px;
}

.cart-block  {
    background: #e9e2ec;
    padding: 20px;
    border-radius: 12px;
    border: 2px solid #422245;
    margin: 0 auto;
    width: 90%;
    max-width: 900px;
}


/*СУМА*/
.total-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 22px;
    font-family: 'Sofia Sans', sans-serif;

}

.total-amount {
    margin-left: 10px;
    font-size: 28px;
    font-family: 'Sofia Sans', sans-serif;

    color: #280128;
}


/*КНИГИ*/

.book-cover {
    width: 80px;
    height: auto;
    margin-right: 16px;
    border-radius: 4px;
    object-fit: cover;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.book-info {
    display: flex;
    flex-direction: column;
}

.book-author {
    font-size: 16px;
    color: #5c476c;
    margin-top: 0;
    font-family: 'Roboto', sans-serif;

}

.book-title-link {
    font-weight: bold;
    color: #1b082d;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;

}

.book-title-link:hover {
    text-decoration: underline;
}

.quantity-input {
    width: 50px;
    padding: 4px 6px;
    font-size: 16px;
    border: 1px solid #7a5c9e;
    border-radius: 8px;
    text-align: center;
    background-color: #f7f2f9;
    color: #1f0f25;
}

.remove-button {
    width: 100%;
    background-color: #2e183b;
    color: white;
    padding: 8px 14px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.remove-button:hover {
    background-color: #3f2352;
}

.price-section {
    text-align: right;
    vertical-align: middle;
}

.price-details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}




.price-value {
    font-weight: bold;
    font-size: 26px;
    margin-left: 4px;
    font-family: 'Sofia Sans', sans-serif;

}

.crossed {
    text-decoration: line-through;
    color: #705c86;
    font-size: 20px;
    font-family: 'Sofia Sans', sans-serif;

}

.discount-badge {
    background-color: #5a1670;
    color: white;
    padding: 2px 6px;
    border-radius: 10px;
    margin-left: 8px;
    font-size: 11px;
    font-family: 'Sofia Sans', sans-serif;

}
.original-price {
    display: flex;
    align-items: center;
    gap: 8px;
}

.multiply-sign {
    text-align: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}


/*ОФОРМЛЕННЯ ПОВЕРНЕННЯ*/
.button-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    width: 90%;
    margin: 20px auto;
}

.checkout-button {
    display: inline-block;
    background-color: #3d004f;
    color: white;
    padding: 12px 24px;
    margin: 20px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.checkout-button:hover {
    background-color: #5a1670;
}

.back-to-shop {
    display: inline-block;
    border: 1px solid #1f0f25;
    border-radius: 10px ;
    margin: 20px 20px;
    padding: 10px;
    text-decoration: none;
    color: #1f0f25;
    font-weight: bold;
}

.unauthorized-message {
    margin: 20px 20px;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Sofia Sans', sans-serif;

}


.empty-cart-message {
    font-size: 18px;
    font-weight: bold;
    color: #1f0f25;
    background-color: #f0e6f7;
    padding: 16px;
    border-radius: 12px;
    border: 2px solid #422245;
    text-align: center;
    margin: 0 auto;
    width: 90%;
    max-width: 900px;
}