.header-container {
    background-color: #1a121e;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    font-family: 'Sofia Sans', sans-serif;
    margin: 0;
}

/* Логотип */
.logo {
    font-family: "JetBrains Mono", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 36px;
    letter-spacing: 0.08em;
    color: #EDECE8;
    text-decoration: none;
}



/* Пошукове поле */
.search-form {
    display: flex;
    align-items: center;
    background-color: #A698AE;
    border-radius: 20px;
    padding: 3px 10px;
    width: 300px;
}

.search-input {
    border: none;
    background: transparent;
    padding: 8px 10px;
    color: #1a121e;
    flex-grow: 1;
    font-size: 14px;
}
.search-input:focus {
    outline: none;
    box-shadow: none;
}
.search-input::placeholder {
    color: #312B39;
}
.search-button {
    color: #1a121e;
    font-size: 16px;
}


/*Навігація*/
.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
}
/*Вхід/реєстрація*/
.auth-block {
    display: flex;
    align-items: center;
    text-align: right;
    gap: 10px;
    border-right: 3px solid #a994b9;
    padding-right: 15px;
    color: #fff;
    font-size: 14px;
    line-height: 1.4;
}
.auth-block a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.auth-block a:hover {
    color: #bfa9d4;
}
.auth-text span {
    display: block;
}


/* Іконки */
.icon-links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    position: relative;
}
.nav-link:hover {
    color: #bfa9d4;
}
.nav-link i {
    font-size: 24px;
}
.nav-icon {
    color: #fff;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
