/* Загальні стилі */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #A698AE;
    margin: 0;
    padding: 0;
}

.main-content {
    display: flex;
    padding: 30px 40px;
    gap: 40px;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #2f2f2f;
}

/* Бічна панель фільтрів */
.filter-sidebar {
    background-color: #c8b3d9;
    padding: 20px;
    border-radius: 10px;
    width: 240px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.filter-sidebar label,
.filter-sidebar legend {
    font-weight: 600;
    font-size: 14px;
    color: #333;
}

.filter-sidebar input[type="number"] {
    width: 90px;
    margin: 5px 0;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.filter-sidebar button,
.filter-sidebar a {
    margin-top: 10px;
    display: inline-block;
    background-color: #3a2d4f;
    color: white;
    padding: 6px 12px;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.filter-sidebar button:hover,
.filter-sidebar a:hover {
    background-color: #2c1e3f;
}

.catalog-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}
/* Каталог книг */
.catalog {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    flex: 1;
    padding: 0;
}
.catalog-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000000;
    text-align: left;
    font-family: 'Sofia Sans', sans-serif;

}

/* Пагінація */
.pagination {
    display: flex;
    justify-content: right;
    margin-top: 30px;
    gap: 10px;
}

.pagination button,
.pagination a {
    padding: 6px 10px;
    background-color: #ffffff;
    color: #6a0dad;
    border: 1px solid #6a0dad;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.pagination button:hover,
.pagination a:hover {
    background-color: #f0e5ff;
}

.pagination .active {
    background-color: #dec6ef;

}

/* Порожній стан */
.empty-state {
    text-align: center;
    color: #555;
    margin-top: 40px;
}

.empty-state i {
    font-size: 48px;
    margin-bottom: 10px;
    color: #999;
}
