.orders-wrapper {
    display: flex;
    gap: 5px; /* відстань між двома колонками */
}
main {
    padding: 0 80px;
    margin-bottom: 30px;
}
.container {
    max-width: 100%;
    margin: 0px auto;
    margin-bottom: 20px;
    padding: 0px;
    display: flex;

    flex-wrap: nowrap; /* не переносити в колонку */
    align-items: flex-start;
}

/* Ліва колонка з таблицею замовлень */
.order-table {
    flex: 1 1 50%; /* приблизно половина ширини */
    overflow-x: auto; /* горизонтальний скрол при необхідності */
    max-height: 1000px;
}

.order-history-table {
    background-color: #e9e2ec;

    width: 100%;
    border-collapse: collapse;
    font-size: 1.1rem; /* трохи більший шрифт */
    table-layout: fixed; /* фіксована ширина колонок */
}

.order-history-table th,
.order-history-table td {
    padding: 12px 20px; /* більше внутрішнього відступу */
    text-align: center;
    overflow: hidden;
    align-items: center;
    vertical-align: middle;

}

/* Ширина колонок: Дата ширше, Номер - середній, Сума і Статус трохи вужчі */
.order-history-table th:nth-child(1),
.order-history-table td:nth-child(1) {
    width: 30%; /* Дата */
}
.order-history-table th:nth-child(2),
.order-history-table td:nth-child(2) {
    width: 20%; /* Номер */
}
.order-history-table th:nth-child(3),
.order-history-table td:nth-child(3) {
    width: 10%; /* Сума */
}
.order-history-table th:nth-child(4),
.order-history-table td:nth-child(4) {
    width: 45%; /* Статус */
}

/* Затінення при наведенні на рядок */
.order-row:hover {
    background-color: #f0f8ff;
    cursor: pointer;
}
.order-row {
    border-top: 1px solid  #b173d0 ;

}
.order-row.active {
    background-color: #f5d0ff !important;
    font-weight: bold;
    border-left: 4px solid #b173d0;
}

/* Права колонка з деталями замовлення */
.order-details {
    flex: 1 1 40%; /* друга половина */
    padding-left: 20px;
    min-height: 300px;
    box-sizing: border-box;
    font-size: 1.1rem;
}


.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;

}

.page-title {
    font-size: 32px;
    font-weight: bold;
    margin: 12px 0 30px;
    font-family: 'Sofia Sans', sans-serif;
    color: black;

}

.alerts-inline {
    display: flex;
    gap: 10px;
}

.alert {
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

.alert-error {
    background-color: #f8d7da;
    color: #721c24;
}

