.search-modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 999;

}

.search-modal {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    max-width: 600px;
    background: #DFD6E3;
    border-radius: 10px;
    padding: 15px;
    z-index: 1000;
    display: none;
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.2s ease;

}


.search-modal.show {
    opacity: 1;
    display: block;
}


.search-modal-content {
    max-height: 500px;
    overflow-y: auto;
}

.search-book-image {
    width: 70px;  /* Фіксована ширина */
    height: auto; /* Автоматичне співвідношення сторін */
    border-radius: 5px; /* Закруглені кути */
    object-fit: cover; /* Обрізка без спотворення */
}

.search-results-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #000000;
}

/* Прибрати лінію лише у останнього елемента */
.search-results-list > div:last-child .search-results-item {
    border-bottom: none;
}

/* Контейнер для тексту */
.search-results-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Заголовок книги */
.search-results-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

/* Автор книги */
.search-results-author {
    font-size: 14px;
    color: #464646;
    margin: 2px 0;
}

/* Ціна */
.search-results-price {
    font-weight: bold;
    color: #000000;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 2px;
}


.search-original-price {
    text-decoration: line-through;
    font-size: 14px;
    color: #4c4c4c;
}

.search-actual-price {
    font-size: 18px;
    font-weight: bold;
    color: #370234;
}

.close-button {
    position: absolute;
    top: 8px;
    right: 12px;
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    color: #333;
}

.close-button:hover {
    color: red;
}
