body {
    background-color: #A698AE;
    font-family: 'Roboto', sans-serif;
    color: #1c1c1c;
    margin: 0;
    padding: 0;
}

.container.reviews-page {
    padding: 0px 80px;
    margin-bottom: 30px;
}

.page-title {
    font-size: 32px;
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 30px;
    font-family: 'Sofia Sans', sans-serif;
    color: black;

}

.reviews-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
    gap: 24px;
}

.review-card {
    position: relative;
    display: flex;
    background: #DFD6E3;
    border-radius: 12px;
    padding: 16px;
    gap: 16px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.book-cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
}

.book-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.book-meta {
    margin-top: 8px;
    text-align: center;
}

.book-title {
    margin: 14px 10px 0 10px;
    font-family: 'Roboto', sans-serif;
    max-width: 95%;

}
.book-title a {
    /* щоб текст було видно на чорному фоні */
    color: black;
    text-decoration: none;

    user-select: text; /* дозволити виділення тексту, але без спеціального background при виділенні */
}

/* Щоб при виділенні тексту не змінювався фон (не було highlight), додамо: */
.book-title a::selection {
    background: transparent;
}


.review-rating {
    color: #370641; /* Золоті зірки */
    font-size: 20px;
    letter-spacing: 0.06em;


}

.review-date {
    font-size: 12px;
    color: #666;
    margin-top: 4px;
}

.review-details {
    flex: 1;
    display: flex;
    flex-direction: column;

}

.review-text {
    font-size: 14px;
    color: var(--gray);
    white-space: pre-wrap;
    word-break: break-word;
    margin: 14px 10px;
}
.empty-review {
    color: #2b0b3e;
    font-size: 14px;
}
.delete-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    background: transparent;
    border: none;
    color: #2E0137;
    font-size: 24px;
    cursor: pointer;
}

.delete-btn:hover {
    color: #8a00c1;
}

.no-reviews {
    font-size: 18px;
    color: var(--gray);
    text-align: center;
    padding: 40px;
}
