<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Замовлення</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<th:block th:replace="fragments/admin-header :: body"></th:block>

<form th:action="@{/admin/orders/search}" method="get">
    <label for="searchOrderId">Пошук замовлення:</label>
    <input type="number" id="searchOrderId" name="orderId" placeholder="Введіть номер замовлення" required />
    <button type="submit">Знайти</button>
</form>
<div th:if="${notFound}">
    <p style="color: red;">Замовлення не знайдено</p>
</div>

<div style="display: flex;">

    <div style="width: 60%;">
        <table>
            <thead>
            <tr>
                <th>Дата</th>
                <th>Номер</th>
                <th>Сума</th>
                <th>Статус</th>
                <th>Користувач</th>
                <th>Номер телефона</th>
                <th>Адреса</th>
                <th>Номер відстеження посилки</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders}" th:data-id="${order.id}" class="order-row" style="cursor:pointer;">
                <td th:text="${#temporals.format(order.createdAt, 'dd.MM.yyyy')}"></td>
                <td th:text="${order.id}"></td>
                <td th:text="${order.totalAmount}"></td>
                <td th:text="${order.status}"></td>
                <td th:text="${order.lastName + ' ' + order.firstName}"></td>
                <td th:text="${order.phoneNumber}"></td>
                <td th:text="${order.city + ' ' + order.postOfficeNumber}"></td>
                <td th:text="${order.trackingNumber}"></td>

            </tr>
            </tbody>
        </table>
    </div>

    <div id="order-details" style="width: 40%; padding-left: 20px;">
        <p>Оберіть замовлення, щоб переглянути деталі.</p>
    </div>
    <p th:text="${updatedOrderId}"></p>

</div>
<script th:inline="javascript">
    $(document).ready(function() {
        var updatedOrderId = /*[[${updatedOrderId}]]*/ null;



        if (updatedOrderId) {
            $('#order-details').load('/admin/orders/' + updatedOrderId + '/details');
        }

        $('.order-row').click(function() {
            var orderId = $(this).data('id');

            if (orderId) {
                $('#order-details').load('/admin/orders/' + orderId + '/details');
            }
        });
    });
</script>



</body>
</html>
