<!DOCTYPE html>
<html xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title th:text="${book.title}">Деталі книги</title>

    <th:block th:insert="fragments/header :: styles"/>
    <link rel="stylesheet" th:href="@{/css/book.css}">
    <link rel="stylesheet" th:href="@{/css/cart-button-book.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>

<div th:replace="~{fragments/header :: body}"></div>

<main class="container">
    <div class="book-wrapper">

        <!-- ЛІВА СТОРОНА: зображення опис -->
        <div class="book-image-container">
            <img alt="Зображення книги" class="book-image"
                 th:src="@{/images/{coverImage}(coverImage=${book.coverImage})}"/>

            <!-- Опис -->
            <div class="book-description">
                <p th:text="${book.description}">Тут буде опис книги...</p>
            </div>
        </div>

        <!-- ПРАВА СТОРОНА: деталі -->
        <div class="book-meta">
            <h1 class="book-title" th:text="${book.title}">Назва книги</h1>
            <p class="book-author">
                <a th:href="@{/author/{id}(id=${book.author.id})}" th:text="${book.author.name}">Автор</a>
            </p>

            <!-- Рейтинг -->
            <div class="rating-section">
                <div class="rating-stars">
                <span th:class="${i < averageRating ? (i < averageRating - 0.5 ? 'fas fa-star' : 'fas fa-star-half-alt') : 'far fa-star'}"
                      th:each="i : ${#numbers.sequence(0, 4)}">
                </span>
                </div>
                <p class="rating-text" th:text="'ВІДГУКІВ: ' + ${reviews.size()}">Відгуків: 0</p>
            </div>

            <!-- Інфо про книгу -->
            <dl class="book-info">
                <dt>Жанр:</dt>
                <dd th:text="${book.genre.name}"></dd>
                <dt>Видавництво:</dt>
                <dd th:text="${book.publisher.name}"></dd>
                <dt>Рік:</dt>
                <dd th:text="${book.publicationYear}"></dd>
                <dt>Кількість сторінок:</dt>
                <dd th:text="${book.pages}"></dd>
                <dt>Мова:</dt>
                <dd>Українська</dd>
                <dt>Обкладинка:</dt>
                <dd th:text="${book.coverType}"></dd>
                <dt>ISBN:</dt>
                <dd th:text="${book.isbn}"></dd>
            </dl>

            <div class="book-actions">
                <div class="book-price">

                    <div class="discount" th:if="${book.discount != null && book.discount != 0}">
                        <span class="original-price" th:text="${book.price}">250 грн</span>
                        <span class="discount-badge" th:text="'-' + ${book.discount} + '%'">-20%</span>
                    </div>
                    <div class="final-price">
                        <span th:text="${book.actualPrice} "> </span><span class="price-text"> грн</span>
                    </div>

                </div>


                <div th:replace="~{fragments/cart-button :: cart-button(book=${book}, cartBookIds=${cartBookIds})}"></div>
                <div sec:authorize="isAuthenticated()">
                    <div th:replace="~{fragments/favorite-button :: favorite-button(bookId=${book.id}, favoriteBookIds=${favoriteBookIds})}"></div>
                </div>

            </div>


        </div>
    </div>


    <!-- ВІДГУКИ -->
    <section class="reviews-section">

        <!-- Ліва колонка: всі відгуки користувачів -->
        <div class="all-reviews">
            <h3 class="book-title">Відгуки</h3>
            <div> <p class="empty-reviews" th:if="${reviews.size()==0}"> Станьте першим, хто залишить свій відгук!</p></div>
            <div class="review-item" th:each="review : ${reviews}">
                <div class="review-info">
                    <p th:text="${review.user.firstName + ' ' + review.user.lastName}">Ім'я користувача</p>

                    <div class="review-rating">
                        <i th:class="${i < review.rating ? 'fas fa-star' : 'far fa-star'}"
                           th:each="i : ${#numbers.sequence(0, 4)}"></i>
                    </div>

                    <div class="review-date" th:text="${#temporals.format(review.createdAt, 'dd.MM.yyyy')}">01.01.2024
                    </div>
                </div>

                <p class="empty-review" th:if="${review.reviewText.trim()==''}">Оцінка без коментаря</p>
                <p class="comment" th:text="${review.reviewText}">Текст відгуку</p>
            </div>
        </div>

        <!-- Права колонка: форма або відгук поточного користувача -->
        <div class="user-review">

            <div sec:authorize="isAuthenticated()">
                <div th:if="${userReview == null}">
                    <h4>Залишіть свій відгук та оцінку</h4>
                    <form method="post" th:action="@{/book/{bookId}/review(bookId=${book.id})}">

                        <div class="review-user">
                            <div >
                                <textarea class="comment-input" name="comment" placeholder="Ваш відгук"></textarea>

                            </div>
                            <div class="review-bottom">
                                <div class="stars">
                                    <input id="star5" name="rating" required type="radio" value="5">
                                    <label for="star5" title="5 stars"><i class="fa-solid fa-star"></i></label>
                                    <input id="star4" name="rating" required type="radio" value="4">
                                    <label for="star4" title="4 stars"><i class="fa-solid fa-star"></i></label>
                                    <input id="star3" name="rating" required type="radio" value="3">
                                    <label for="star3" title="3 stars"><i class="fa-solid fa-star"></i></label>
                                    <input id="star2" name="rating"  required type="radio" value="2">
                                    <label for="star2" title="2 stars"><i class="fa-solid fa-star"></i></label>
                                    <input id="star1" name="rating" required type="radio" value="1">
                                    <label for="star1" title="1 star"><i class="fa-solid fa-star"></i></label>
                                </div>


                                <button class="btn" type="submit">Додати відгук</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div th:if="${userReview != null}">
                    <h4>Ваш відгук опубліковано</h4>
                    <div class="review-user">
                        <div class="review-text">
                            <p class="empty-review-user" th:if="${userReview.reviewText.trim()==''}">Ви залишили лише
                                                                                                     оцінку
                            </p>
                            <p th:text="${userReview.reviewText}"></p>
                        </div>
                        <div class="review-bottom">
                            <div class="user-stars">
                                <i th:class="${i < userReview.rating ? 'fas fa-star' : 'far fa-star'}"
                                   th:each="i : ${#numbers.sequence(0, 4)}"></i>
                            </div>
                            <form method="post" th:action="@{/book/{bookId}/review/delete(bookId=${book.id})}">
                                <button class="btn" type="submit">Видалити</button>
                            </form>
                        </div>
                    </div>
                </div>


                <div sec:authorize="isAnonymous()">
                    <p>Щоб залишити відгук, потрібно <a th:href="@{/user/login}">увійти</a>.</p>
                </div>

            </div>
    </section>

</main>
<div th:replace="~{fragments/footer :: body}"></div>
<script th:src="@{/js/cart.js}"></script>
<script>


</script>
</body>
</html>
