<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title th:text="${book.title}">Деталі книги</title>
    <link rel="stylesheet" th:href="@{/css/book.css}">
</head>
<body>

<div th:replace="~{fragments/header :: body}"></div>

<main class="book-container">
    <div class="image-section">


        <img alt="Зображення книги" class="book-image" th:src="@{/images/{coverImage}(coverImage=${book.coverImage})}">
    </div>

    <div class="book-details">
        <h1 class="book-title" th:text="${book.title}">Назва книги</h1>
        <p class="book-author">
            <span>Автор: </span>
            <span> <a th:href="@{/author/{id}(id=${book.author.getId()})}" th:text="${book.getAuthor().getName()}"></a></span>

        </p>

        <dl class="book-info">

            <dt>Жанр:</dt>
            <dd th:text="${book.genre.getName()}"></dd>

            <dt>Видавництво:</dt>
            <dd th:text="${book.publisher.name}">Назва видавництва</dd>

            <dt>Рік видання:</dt>
            <dd th:text="${book.publicationYear}">2024</dd>

            <dt>Кількість сторінок:</dt>
            <dd th:text="${book.pages}">300</dd>

            <dt>Мова:</dt>
            <dd>Українська</dd>

            <dt>Обкладинка:</dt>
            <dd th:text="${book.coverType}">Тверда</dd>
            <dt>Формат книги:</dt>
            <dd th:text="${book.bookFormat}">Тверда</dd>

            <dt>ISBN:</dt>
            <dd th:text="${book.isbn}">978-XXXXXXXXXX</dd>
        </dl>


        <p class="book-description" th:text="${book.description}">
            Детальний опис книги...
        </p>

        <div class="price-section">
            <div class="price-details">
                <div class="original-price" th:if="${book.discount != null}">
                    <span class="price-label">Повна ціна:</span>
                    <span class="price-value crossed" th:text="${book.price} + ' грн'">250 грн</span>
                    <span class="discount-badge" th:text="'-' + ${book.discount} + '%'">-20%</span>
                </div>
                <div class="current-price">
                    <span class="price-label">Актуальна ціна:</span>
                    <span class="price-value" th:text="${book.actualPrice} + ' грн'">200 грн</span>
                </div>
            </div>
        </div>
        <div th:replace="~{fragments/cart-button :: cart-button(book=${book}, cartBookIds=${cartBookIds})}"></div>
        <div sec:authorize="isAuthenticated()">
            <div th:replace="~{fragments/favorite-button :: favorite-button(bookId=${book.id}, favoriteBookIds=${favoriteBookIds})}"></div>
        </div>

        <div>
            <p>Середня оцінка:
                <span th:text="${#numbers.formatDecimal(averageRating, 1, 1)}"></span> / 5
            </p>

            <p>Кількість оцінок: <span th:text="${reviews.size()}"></span>

            </p>
            <div>
                <div class="review-rating">
   <span th:class="${i < averageRating ? (i < averageRating - 0.5 ? 'fas fa-star' : 'fas fa-star-half-alt') : 'far fa-star'}"
         th:each="i : ${#numbers.sequence(0, 4)}">
</span>

                </div>

            </div>
        </div></div>
        <h3>Відгуки:</h3>
        <ul>
            <li th:each="review : ${reviews}">
                <div class="review-rating">
                <span th:class="${i < review.rating ? 'fas fa-star' : 'far fa-star'}"
                      th:each="i : ${#numbers.sequence(0, 4)}">
                </span>
                </div>
                <p th:text="|${review.user.firstName} ${review.user.lastName} - Оцінка: ${review.rating} - ${review.reviewText}|"></p>
            </li>
        </ul>

    <div sec:authorize="isAnonymous()">
        <p>Щоб залишити відгук, потрібно <a th:href="@{/user/login}">увійти</a>.</p>
    </div>

        <div th:if="${userReview != null}">
            <h4>Ваш відгук:</h4>
            <p th:text="|Оцінка: ${userReview.rating} - ${userReview.reviewText}|"></p>
            <form method="post" th:action="@{/book/{bookId}/review/delete(bookId=${book.id})}">
                <button type="submit">Видалити відгук</button>
            </form>
        </div>

    <form method="post"
          th:action="@{/book/{bookId}/review(bookId=${book.id})}"
          sec:authorize="isAuthenticated()"
          th:if="${userReview == null}">
        <input max="5" min="1" name="rating" required type="number"/>
        <input name="comment" required type="text"/>
        <button type="submit">Додати відгук</button>
    </form>


        <div th:replace="~{fragments/footer :: body}"></div>

</main>

<script th:src="@{/js/cart.js}"></script>
</body>
</html>
