<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Помилка</title>
    <link rel="stylesheet" th:href="@{/css/error.css}">
</head>
<body>

<header>
    <h1>Сталася помилка</h1>
</header>

<div class="container">
    <h1>⚠️ Помилка</h1>
    <p>Непередбачувана помилка сталася під час обробки запиту.</p>
    <p>Ідентифікатор помилки: <strong th:text="${referenceId}">---</strong></p>

    <a href="/" class="home-link">Перейти на головну сторінку</a>
</div>

</body>
</html>
