<!DOCTYPE html>
<html xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Головна сторінка</title>
    <th:block th:insert="~{fragments/header :: styles}"/>
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/book-card.css}">
    <link rel="stylesheet" th:href="@{/css/cart-button.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>
<body>
<main>
<div th:replace="~{fragments/header :: body}"></div>

<div class="main-content">

    <div class="filter-sidebar">
        <form id="filterForm" method="get" th:action="@{/}">
            <div class="filter-header">


                <div class="filter-sort">
                    <label for="sort"> <h4>Сортувати</h4></label>
                    <select id="sort" name="sort" onchange="document.getElementById('filterForm').submit()">
                        <option th:selected="${sort == 'actualPrice-desc'}" value="actualPrice-desc">По ціні за спаданням</option>
                        <option th:selected="${sort == 'actualPrice-asc'}" value="actualPrice-asc">По ціні за зростанням</option>
                        <option th:selected="${sort == 'title-asc'}" value="title-asc">Назва (А-Я)</option>
                        <option th:selected="${sort == 'title-desc'}" value="title-desc">Назва (Я-А)</option>
                    </select>
                </div>
            </div>


            <h4>Фільтри</h4>
            <div class="filter-actions">
                <button class="btn" type="submit">Застосувати</button>
                <a th:href="@{/}" class="reset-btn">Скинути</a>
            </div>
            <!-- Ціна -->
            <div class="filter-group">
                <div class="filter-title" onclick="toggleFilter(this)">
                    Ціна
                    <span class="arrow"><i class="fas fa-chevron-right"></i></span>

                </div>
                <div class="filter-content">
                    <input name="minPrice" placeholder="200" th:value="${minPrice}" type="number" min="0">
                    <input name="maxPrice" placeholder="1200" th:value="${maxPrice}" type="number" min="0">
                    <!-- Тут можна додати слайдер при потребі -->
                </div>
            </div>

            <!-- Жанр -->
            <div class="filter-group">
                <div class="filter-title" onclick="toggleFilter(this)">
                    Жанр
                    <span class="arrow"><i class="fas fa-chevron-right"></i></span>

                </div>
                <div class="filter-content">
                    <input type="text" class="filter-search" placeholder="Пошук жанру...">
                    <div class="filter-options">
                        <div th:each="genre : ${allGenres}">
                            <label class="styled-checkbox">

                            <input type="checkbox" name="genres"
                                       th:value="${genre}"
                                       th:checked="${genres != null and genres.contains(genre)}">
                                <span class="checkmark"></span>

                                <span th:text="${genre}">Жанр</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Видавництво -->
            <div class="filter-group">
                <div class="filter-title" onclick="toggleFilter(this)">
                    Видавництво
                    <span class="arrow"><i class="fas fa-chevron-right"></i></span>

                </div>
                <div class="filter-content">
                    <input type="text" class="filter-search" placeholder="Пошук видавництва...">
                    <div class="filter-options">


                        <div th:each="publisher : ${allPublishers}">
                            <label class="styled-checkbox">
                                <input type="checkbox" name="publishers"
                                       th:value="${publisher}"
                                       th:checked="${publishers != null and publishers.contains(publisher)}">
                                <span class="checkmark"></span>
                                <span th:text="${publisher}">Видавництво</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Автор -->
            <div class="filter-group">
                <div class="filter-title" onclick="toggleFilter(this)">
                    Автор
                    <span class="arrow"><i class="fas fa-chevron-right"></i></span>

                </div>
                <div class="filter-content">
                    <input type="text" class="filter-search" placeholder="Пошук автора...">
                    <div class="filter-options">
                        <div th:each="author : ${allAuthors}">
                            <label class="styled-checkbox">

                            <input type="checkbox" name="authors"
                                       th:value="${author}"
                                       th:checked="${authors != null and authors.contains(author)}">
                                <span class="checkmark"></span>

                                <span th:text="${author}">Автор</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>




    <div class="catalog-wrapper">
        <h2 class="catalog-title">Каталог</h2>
        <div class="empty-state" th:if="${#lists.isEmpty(books.content)}">
            <i class="fas fa-book"></i>
            <p>Немає доступних книг</p>
        </div>
        <div class="catalog">



            <div class="book-item" th:if="${!#lists.isEmpty(books.content)} " th:each="book : ${books}">

                <!-- Кнопка "в обране" -->
                <div class="favorite-icon" sec:authorize="isAuthenticated()">
                    <div th:replace="~{fragments/favorite-button :: favorite-button(bookId=${book.getId()}, favoriteBookIds=${favoriteBookIds})}"></div>
                </div>

                <!-- Обкладинка -->
                <a th:href="@{/book/{id}(id=${book.getId()})}"><img alt="Зображення книги" class="book-image"
                     th:src="@{/images/{coverImage}(coverImage=${book.coverImage})}">
                </a>
                <!-- Інформація про книгу -->
                <div class="book-info">
<div class="title">
                        <a th:title="${book.getTitle()}" class="book-title-link" th:href="@{/book/{id}(id=${book.getId()})}"
                           th:text="${book.getTitle()}"></a>
                </div>
                    <a class="book-author" th:href="@{/author/{id}(id=${book.author.getId()})}"
                       th:text="${book.getAuthor().getName()}"></a>

                    <div class="book-bottom">
                        <div class="book-actions">
                            <div th:replace="~{fragments/cart-button :: cart-button(book=${book}, cartBookIds=${cartBookIds})}"></div>
                        </div>

                        <div class="book-price">

                            <div class="discount" th:if="${book.discount != null && book.discount != 0}">
                                <span class="original-price" th:text="${book.price}">250 грн</span>
                                <span class="discount-badge" th:text="'-' + ${book.discount} + '%'">-20%</span>
                            </div>
                            <div class="final-price">
                                <span th:text="${book.actualPrice} "> </span><span class="price-text"> грн</span>
                            </div>

                        </div>

                    </div>

                </div>
            </div>


    </div>

    <div class="pagination" th:if="${books.totalPages>1}">
        <span th:if="${books.hasPrevious()}">
                <a th:href="'/?page=' + ${books.number - 1}
        + '&size=' + ${books.size}
        + (${sort != null} ? '&sort=' + ${sort} : '')
        + (${authors != null and !authors.isEmpty()} ? '&authors=' + ${#strings.arrayJoin(authors, '&authors=')} : '')
        + (${genres != null and !genres.isEmpty()} ? '&genres=' + ${#strings.arrayJoin(genres, '&genres=')} : '')
        + (${publishers != null and !publishers.isEmpty()} ? '&publishers=' + ${#strings.arrayJoin(publishers, '&publishers=')} : '')
        + (${minPrice != null and minPrice != ''} ? '&minPrice=' + ${minPrice} : '')
        + (${maxPrice != null and maxPrice != ''} ? '&maxPrice=' + ${maxPrice} : '')"
                >
                <i class="fas fa-chevron-left"></i>
            </a>
        </span>

        <span th:each="i : ${#numbers.sequence(0, books.totalPages - 1)}">
    <a th:classappend="${i == books.number} ? 'active' : ''"
       th:href="'/?page=' + ${i}
        + '&size=' + ${books.size}
        + (${sort != null} ? '&sort=' + ${sort} : '')
        + (${authors != null and !authors.isEmpty()} ? '&authors=' + ${#strings.arrayJoin(authors, '&authors=')} : '')
        + (${genres != null and !genres.isEmpty()} ? '&genres=' + ${#strings.arrayJoin(genres, '&genres=')} : '')
        + (${publishers != null and !publishers.isEmpty()} ? '&publishers=' + ${#strings.arrayJoin(publishers, '&publishers=')} : '')
        + (${minPrice != null and minPrice != ''} ? '&minPrice=' + ${minPrice} : '')
        + (${maxPrice != null and maxPrice != ''} ? '&maxPrice=' + ${maxPrice} : '')"
       th:text="${i + 1}">
    </a>
</span>


        <span th:if="${books.hasNext()}">
                 <a th:href="'/?page=' + ${books.number + 1}
        + '&size=' + ${books.size}
        + (${sort != null} ? '&sort=' + ${sort} : '')
        + (${authors != null and !authors.isEmpty()} ? '&authors=' + ${#strings.arrayJoin(authors, '&authors=')} : '')
        + (${genres != null and !genres.isEmpty()} ? '&genres=' + ${#strings.arrayJoin(genres, '&genres=')} : '')
        + (${publishers != null and !publishers.isEmpty()} ? '&publishers=' + ${#strings.arrayJoin(publishers, '&publishers=')} : '')
        + (${minPrice != null and minPrice != ''} ? '&minPrice=' + ${minPrice} : '')
        + (${maxPrice != null and maxPrice != ''} ? '&maxPrice=' + ${maxPrice} : '')"
                 >
                 <i class="fas fa-chevron-right"></i>
            </a>
        </span>
    </div>
</div>
</div>
</main>
<div th:replace="~{fragments/footer :: body}"></div>
<script>
    document.getElementById('filterForm').addEventListener('submit', function (e) {
        const minPriceInput = this.querySelector('[name="minPrice"]');
        const maxPriceInput = this.querySelector('[name="maxPrice"]');

        if (!minPriceInput.value) {
            minPriceInput.removeAttribute('name');
        }
        if (!maxPriceInput.value) {
            maxPriceInput.removeAttribute('name');
        }
    });
    document.getElementById('sort').addEventListener('change', function () {
        const form = document.getElementById('filterForm');
        const minPriceInput = form.querySelector('[name="minPrice"]');
        const maxPriceInput = form.querySelector('[name="maxPrice"]');

        if (!minPriceInput.value) {
            minPriceInput.removeAttribute('name');
        }
        if (!maxPriceInput.value) {
            maxPriceInput.removeAttribute('name');
        }

        form.submit();
    });

    function toggleFilter(titleEl) {
        const content = titleEl.nextElementSibling;
        const arrowIcon = titleEl.querySelector('.arrow i');

        if (content.style.display === 'none' || content.style.display === '') {
            content.style.display = 'block';
            arrowIcon.classList.remove('fa-chevron-right');
            arrowIcon.classList.add('fa-chevron-down');
            titleEl.classList.add('active');
        } else {
            content.style.display = 'none';
            arrowIcon.classList.remove('fa-chevron-down');
            arrowIcon.classList.add('fa-chevron-right');
            titleEl.classList.remove('active');
        }
    }


    // При завантаженні сторінки сховаємо всі .filter-content і поставимо стрілку "▶"
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('.filter-content').forEach(content => {
            content.style.display = 'none';
        });
        document.querySelectorAll('.filter-title').forEach(titleEl => {
            titleEl.classList.remove('active');
            const arrowIcon = titleEl.querySelector('.arrow i');
            if (arrowIcon) {
                arrowIcon.classList.remove('fa-chevron-down');
                arrowIcon.classList.add('fa-chevron-right');
            }
        });

        // решта коду для пошуку у фільтрах...
        document.querySelectorAll('.filter-search').forEach(input => {
            input.addEventListener('input', () => {
                const term = input.value.toLowerCase();
                const labels = input.closest('.filter-content').querySelectorAll('.filter-options label');

                labels.forEach(label => {
                    const text = label.textContent.toLowerCase();
                    label.style.display = text.includes(term) ? 'block' : 'none';
                });
            });
        });
    });



</script>
</body>
</html>
