<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Головна сторінка</title>
    <link rel="stylesheet" th:href="@{/css/search.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/book-card.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>

<div th:replace="~{fragments/header :: body}"></div>

<div class="main-content">

    <div class="filter-sidebar">
    <form th:action="@{/}" method="get" id="filterForm">
        <div>
            <label for="sort">Сортувати:</label>
            <select name="sort" id="sort">
                <option value="title-asc" th:selected="${sort == 'title-asc'}">Назва (A-Я)</option>
                <option value="title-desc" th:selected="${sort == 'title-desc'}">Назва (Я-A)</option>
                <option value="actualPrice-asc" th:selected="${sort == 'actualPrice-asc'}">Ціна (↑)</option>
                <option value="actualPrice-desc" th:selected="${sort == 'actualPrice-desc'}">Ціна (↓)</option>
            </select>
        </div>

        <fieldset>
            <legend>Автори</legend>
            <div th:each="author : ${allAuthors}">
                <label>
                    <input type="checkbox" name="authors"
                           th:value="${author}"
                           th:checked="${authors != null and authors.contains(author)}">
                    <span th:text="${author}">Автор</span>
                </label>
            </div>
        </fieldset>

        <fieldset>
            <legend>Жанри</legend>
            <div th:each="genre : ${allGenres}">
                <label>
                    <input type="checkbox" name="genres"
                           th:value="${genre}"
                           th:checked="${genres != null and genres.contains(genre)}">
                    <span th:text="${genre}">Жанр</span>
                </label>
            </div>
        </fieldset>

        <fieldset>
            <legend>Видавці</legend>
            <div th:each="publisher : ${allPublishers}">
                <label>
                    <input type="checkbox" name="publishers"
                           th:value="${publisher}"
                           th:checked="${publishers != null and publishers.contains(publisher)}">
                    <span th:text="${publisher}">Видавець</span>
                </label>
            </div>
        </fieldset>

        <input type="number" name="minPrice" placeholder="Від" th:value="${minPrice}">
        <input type="number" name="maxPrice" placeholder="До" th:value="${maxPrice}">


        <button type="submit">Застосувати</button>
        <a th:href="@{/}">Скинути</a>
    </form>
        </div>
    <h2>Каталог</h2>

    <div class="catalog">
        <div th:if="${#lists.isEmpty(books.content)}" class="empty-state">
            <i class="fas fa-book"></i>
            <p>Поки немає доступних книг</p>
        </div>

        <div th:each="book : ${books}" class="book-item">
            <div th:if="${session.user != null}">
                <div th:replace="~{fragments/favorite-button :: favorite-button(bookId=${book.getId()}, favoriteBookIds=${favoriteBookIds}, fromPage='/?page=' + ${books.getNumber()} + '&size=' + ${books.getSize()} + '&sort=' + ${sort})}"></div>
            </div>
            <img th:src="@{/images/{coverImage}(coverImage=${book.coverImage})}" alt="Зображення книги" class="book-image">

            <div class="book-info">
                <h4>
                    <a th:href="@{/book/{id}(id=${book.getId()})}" th:text="${book.getTitle()}" class="book-title-link"></a>
                </h4>
                <a th:href="@{/author/{id}(id=${book.author.getId()})}" th:text="${book.getAuthor().getName()}" class="book-author"></a>

                <div class="book-actions">
                    <div th:replace="~{fragments/cart-button :: cart-button(book=${book}, cartBookIds=${cartBookIds}, fromPage='/?page=' + ${books.getNumber()} + '&size=' + ${books.getSize()} + '&sort=' + ${sort})}"></div>
                </div>

                <div class="book-price">
                    <p th:if="${book.getDiscount() != null}">
                        <strong>Повна Ціна:</strong>
                        <span class="original-price" th:text="${book.getPrice()} + ' грн'"></span>
                    </p>
                    <p>
                        <strong>Ціна:</strong>
                        <span class="price-value" th:text="${book.getActualPrice()} + ' грн'"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="pagination" th:if="${books.totalPages>1}">
        <span th:if="${books.hasPrevious()}">
                <a th:href="'/?page=' + ${books.number - 1}
        + '&size=' + ${books.size}
        + (${sort != null} ? '&sort=' + ${sort} : '')
        + (${authors != null and !authors.isEmpty()} ? '&authors=' + ${#strings.arrayJoin(authors, '&authors=')} : '')
        + (${genres != null and !genres.isEmpty()} ? '&genres=' + ${#strings.arrayJoin(genres, '&genres=')} : '')
        + (${publishers != null and !publishers.isEmpty()} ? '&publishers=' + ${#strings.arrayJoin(publishers, '&publishers=')} : '')
        + (${minPrice != null and minPrice != ''} ? '&minPrice=' + ${minPrice} : '')
        + (${maxPrice != null and maxPrice != ''} ? '&maxPrice=' + ${maxPrice} : '')"
         >
                <i class="fas fa-chevron-left"></i> Previous
            </a>
        </span>

        <span th:each="i : ${#numbers.sequence(0, books.totalPages - 1)}">
    <a th:href="'/?page=' + ${i}
        + '&size=' + ${books.size}
        + (${sort != null} ? '&sort=' + ${sort} : '')
        + (${authors != null and !authors.isEmpty()} ? '&authors=' + ${#strings.arrayJoin(authors, '&authors=')} : '')
        + (${genres != null and !genres.isEmpty()} ? '&genres=' + ${#strings.arrayJoin(genres, '&genres=')} : '')
        + (${publishers != null and !publishers.isEmpty()} ? '&publishers=' + ${#strings.arrayJoin(publishers, '&publishers=')} : '')
        + (${minPrice != null and minPrice != ''} ? '&minPrice=' + ${minPrice} : '')
        + (${maxPrice != null and maxPrice != ''} ? '&maxPrice=' + ${maxPrice} : '')"
       th:text="${i + 1}"
       th:classappend="${i == books.number} ? 'active' : ''">
    </a>
</span>


        <span th:if="${books.hasNext()}">
                 <a th:href="'/?page=' + ${books.number + 1}
        + '&size=' + ${books.size}
        + (${sort != null} ? '&sort=' + ${sort} : '')
        + (${authors != null and !authors.isEmpty()} ? '&authors=' + ${#strings.arrayJoin(authors, '&authors=')} : '')
        + (${genres != null and !genres.isEmpty()} ? '&genres=' + ${#strings.arrayJoin(genres, '&genres=')} : '')
        + (${publishers != null and !publishers.isEmpty()} ? '&publishers=' + ${#strings.arrayJoin(publishers, '&publishers=')} : '')
        + (${minPrice != null and minPrice != ''} ? '&minPrice=' + ${minPrice} : '')
        + (${maxPrice != null and maxPrice != ''} ? '&maxPrice=' + ${maxPrice} : '')"
                 >
                Next <i class="fas fa-chevron-right"></i>
            </a>
        </span>
    </div>

</div>

<div th:replace="~{fragments/footer :: body}"></div>
<script>
    document.getElementById('filterForm').addEventListener('submit', function (e) {
        const minPriceInput = this.querySelector('[name="minPrice"]');
        const maxPriceInput = this.querySelector('[name="maxPrice"]');

        if (!minPriceInput.value) {
            minPriceInput.removeAttribute('name');
        }
        if (!maxPriceInput.value) {
            maxPriceInput.removeAttribute('name');
        }
    });
</script>
</body>
</html>
