<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизація</title>
    <link rel="stylesheet" th:href="@{/css/auth.css}">
</head>
<body>
<div class="form-container">
    <h2>Вхід до акаунту</h2>
    <div class="error-message">
        <span id="error" th:text="${error}"></span> <!-- Помилка, якщо є -->
    </div>
    <form id="loginForm" action="/user/login" method="POST">

        <label for="email">Електронна пошта:</label>
        <input type="email" id="email" name="email" th:value="${email}" >

        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" th:value="${password}" >

        <button type="submit">Увійти</button>
    </form>
</div>
</body>
</html>
