<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Оформлення замовлення</title>
    <link rel="stylesheet" th:href="@{/css/order.css}">
</head>
<body>
<div th:replace="~{fragments/header :: body}"></div>

<div class="container">
    <!-- Список книг -->
    <div class="book-list">
        <h2>Ваше замовлення</h2>
        <div th:each="orderBook : ${orderedBooks}" class="book-item">
            <img th:src="@{/images/{coverImage}(coverImage=${orderBook.book.coverImage})}" alt="Зображення книги" class="book-cover">
            <div class="book-details">
                <a th:href="@{/book/{id}(id=${orderBook.book.getId()})}" th:text="${orderBook.book.getTitle()}" class="book-title"></a>
                <div class="author" th:text="${orderBook.book.author.name}"></div>
                <div>Кількість: <span th:text="${orderBook.quantity}"></span></div>
                <div>Ціна: <span th:text="${orderBook.book.actualPrice} + ' грн'"></span></div>
            </div>
        </div>
        <div class="order-summary">
            <h2>Підсумок замовлення</h2>
            <p>Загальна сума: <span th:text="${totalSum}"></span> грн</p>
        </div>
    </div>
    <div th:if="${error}">
        <p th:text="${error}"></p>
    </div>

    <!-- Форма замовлення -->
    <div class="order-form">
        <h2>Заповніть дані</h2>
        <form th:action="@{/order/create}" method="post">
            <div class="form-group">
                <label for="phoneNumber">Номер телефону:</label>
                <input type="tel" id="phoneNumber" name="phoneNumber" th:value="${session.user.phoneNumber}" required pattern="[0-9]{10}" title="Введіть 10 цифр">
            </div>
            <div class="form-group">
                <label for="firstName">Ім'я:</label>
                <input type="text" id="firstName" th:value="${session.user.firstName}" name="firstName" required>
            </div>
            <div class="form-group">
                <label for="lastName">Прізвище:</label>
                <input type="text" id="lastName" th:value="${session.user.lastName}" name="lastName">
            </div>
            <div class="form-group">
                <label for="city">Місто:</label>
                <input type="text" id="city" name="city" required autocomplete="off">
                <ul id="citySuggestions" class="suggestions-list" style="display: none;"></ul>
            </div>

            <div class="form-group">
                <label for="postOfficeNumber">Номер відділення Нової Пошти:</label>
                <input type="text" id="postOfficeNumber" name="postOfficeNumber" required autocomplete="off">
                <ul id="postOfficeSuggestions" class="suggestions-list" style="display: none;"></ul>
            </div>

            <button type="submit" class="submit-btn">Підтвердити замовлення</button>
        </form>
    </div>
</div>

<div th:replace="~{fragments/footer :: body}"></div>


</body>
</html>
