<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Реєстрація</title>
    <link rel="stylesheet" th:href="@{/css/auth.css}">
</head>
<body>
<div class="form-container">
    <h2>Реєстрація нового користувача</h2>

    <!-- Виведення помилки, якщо вона є -->
    <div class="error-message">
        <span id="error" th:text="${error}"></span> <!-- Помилка, якщо є -->
    </div>

    <form id="registrationForm" action="/user/register" method="POST">
        <label for="firstName">Ім'я:</label>
        <input type="text" id="firstName" name="firstName" th:value="${firstName}" >

        <label for="lastName">Прізвище:</label>
        <input type="text" id="lastName" name="lastName" th:value="${lastName}" >

        <label for="email">Електронна пошта:</label>
        <input type="email" id="email" name="email" th:value="${email}" >

        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" th:value="${password}" >

        <label for="confirmPassword">Підтвердження паролю:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" th:value="${confirmPassword}" >

        <button type="submit">Зареєструватися</button>
    </form>
</div>
</body>
</html>
